<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>xcodeType</key>
		<string>text.plist.xml</string>
		<key>uniformType</key>
		<string>com.apple.property-list</string>
	</dict>
	<dict>
		<key>xcodeType</key>
		<string>sourcecode.cpp.cpp</string>
		<key>uniformType</key>
		<string>public.c-plus-plus-source</string>
	</dict>
	<dict>
		<key>xcodeType</key>
		<string>sourcecode.c.h</string>
		<key>uniformType</key>
		<string>public.c-header</string>
	</dict>
	<dict>
		<key>xcodeType</key>
		<string>sourcecode.c.c</string>
		<key>uniformType</key>
		<string>public.c-source</string>
	</dict>
	<dict>
		<key>xcodeType</key>
		<string>sourcecode.cpp.h</string>
		<key>uniformType</key>
		<string>com.apple.property-list</string>
	</dict>
	<dict>
		<key>xcodeType</key>
		<string>sourcecode.swift</string>
		<key>uniformType</key>
		<string>public.swift-source</string>
	</dict>
	<dict>
		<key>xcodeType</key>
		<string>sourcecode.c.objc</string>
		<key>uniformType</key>
		<string>public.objective-c-source</string>
	</dict>
	<dict>
		<key>xcodeType</key>
		<string>sourcecode.cpp.objcpp</string>
		<key>uniformType</key>
		<string>public.objective-c-plus-plus-source</string>
	</dict>
	<dict>
		<key>xcodeType</key>
		<string>sourcecode.cpp.cpp</string>
		<key>uniformType</key>
		<string>public.c-plus-plus-source</string>
	</dict>
</array>
</plist>
